<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tailwind + Mix + Twig Starter</title>
        <link href="./css/app.css" rel="stylesheet" />
    </head>

    <body>
        {% include 'partials/_header.twig' %}

        <main>
            <h1 class="text-xxl font-bold">Tailwind + Mix + Twig Starter</h1>

            <p>Main content goes here</p>
        </main>

        {% include 'partials/_footer.twig' %}

        <script src="./js/app.js"></script>
    </body>
</html>
